<!DOCTYPE html>
<html>
<head>
    <title>LED Control</title>
</head>
<body>
    <h1>LED Control</h1>

<div>
<a href="/led/on/14"><input type="button" value="Accensione LED1" onclick="alert('Led Rosso Acceso')"></a>
<a href="/led/off/14"><input type="button" value="Spegnimento LED1" onclick="alert('Led Rosso Spento')"></a>
</div>

<div>
<a href="/led/on/18"> <input type="button" value="Accensione LED2" onclick="alert('Led Giallo Acceso')"></a>
<a href="/led/off/18"><input type="button" value="Spegnimento LED2" onclick="alert('Led Giallo Spento')"></a>
</div>

<div>
    <a href="/led/on/7"> <input type="button" value="Accensione LED3" onclick="alert('Led Verde Acceso')"></a>
    <a href="/led/off/7"><input type="button" value="Spegnimento LED3" onclick="alert('Led Verde Spento')"></a>
    </div>
</body>
</html>
