[Unit]
Description= RelayBot Service
After=multi-user.target

[Service]
Type=idle
ExecStart=/usr/bin/python3 /home/pi/Desktop/Progetti/relaybot/relaybot.py
Restart=always
User=pi

[Install]
WantedBy=multi-user.target